
@font-face {
	font-family: 'MyWebFont';
	src: url('Font/Bespoke-IvSaXyZg26.woff') format('woff');
	src: url('Font/Bespoke-IvSaXyZg26.ttf')  format('truetype'), 
}

body{
	color: red;
	background-color: black;
	font-family: "courier";
	position: relative;
	font-size: 4vw;
	text-align: center;
}












