 <style>
 /* Move all CSS to a stylesheet */
 * { /* Remove default browser spacing */
    margin: 0;
    padding: 0;
}
body {
    margin: 100px; /* Add spacing around the entire page */ 
    font-size: 12px; /* Setting baseline font size */ 
    background: linear-gradient(180deg, rgba(226,122,22,1) 0%, rgba(225,76,36,1) 11%, rgba(212,49,96,1) 25%, rgba(162,0,107,1) 46%, rgba(101,0,91,1) 74%, rgba(81,0,86,1) 100%) fixed;

}

/* Start of text sizes */
h1 {
    font-size: 4em;
}
h2 {
    font-size: 3em;
}
p {
    font-size: 2em;
    line-height: 1.5em;
}
figcaption {
    font-size: 1.25em;
}
/* End of text sizes */

/* Start of spacing and layout */
h2, p, figure, figcaption {
    margin-bottom: 40px;
}
img {
    margin-bottom: 10px;
}
.process-template {
    width: 60%; /* Set the width of the template to 60% of the viewport. */
    margin: auto; /* Center align the template by adding auto margins to the left and right */
}
.title {
    margin-bottom: 100px; /* Add spacing to the bottom of the title div */
}

.section {
    margin-bottom: 100px;
}
/* End of spacing and layout */

/* Adding media queries for page to adapts to tablet and mobile devices */
@media (max-width: 991px) {
    .process-template {
        width: 60%;
    }
}

@media (max-width:767px) {
    body {
        margin: 40px;
        font-size: 10px;
    }
    .process-template {
        width: 100%;
    }
}

</style>