	* {
		padding: 25px;
		align-content: 
	}

	.dot1 {
		height: 2vw;
		width: 2vw;
		border-radius: 100%;
		display: inline-block;
		background-color: #0A1550; 
	}

	.dot2 {
		height: 2vw;
		width: 2vw;
		border-radius: 100%;
		display: inline-block;
		background-color: #7A93A8; 
	}


		s