

body{
    /*background: rgb(226,122,22);*/
    background: linear-gradient(180deg, rgba(226,122,22,1) 0%, rgba(225,76,36,1) 11%, rgba(212,49,96,1) 25%, rgba(162,0,107,1) 46%, rgba(101,0,91,1) 74%, rgba(81,0,86,1) 100%) fixed;
    font-size: 13px;
    width:100%;
    height:105%;
    position: relative;

}
/*grid*/ 

.grid2 {
    display: grid;
    grid-template-columns: 20% 40% 40%; 
    grid-template-rows: 20% 30% 10% 40% 5%; 
    border: 1px solid black;
    position: absolute;
}

.grid2 div {
    /*border: 1px solid;*/
}


/*spaninng*/ 

.the-web, .location, .header, .footer {
    grid-column-start: 2; 
    grid-column-end: span 3;
}

.left {
    grid-row-start: 3;
    grid-row-end: span 4;
}
.centerleft {
    grid-row-start: ;
}

/*text*/ 



h1{
    color: black;
    font-family: bc-alphapipe, sans-serif;
    font-weight: 100;
    font-style: italic;
    text-decoration: underline;

    font-size: 10vw;
    text-align: right;
    writing-mode: vertical-rl; 
    transform: rotate(180deg);
}

h2 {
    text-decoration: underline;
    font-family: bc-alphapipe, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
}

h3{
    font-family: bc-alphapipe, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 4vw;
    text-decoration: underline;
}
h4{
    font-family: bc-alphapipe, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.5vw;
}
h5{
    font-family: bc-alphapipe, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2vw;
}

h6{
    margin:0;
    line-height: 10px;
    font-family: bc-alphapipe, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.5vw;

}

p {
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
}

/*First page-----------------------------------*/


/*theorizing*/

.theorizing {
    grid-row-start: 1; 
    grid-row-end: span 2;
    margin-bottom: 200px;
}

/*location and place*/

.location {
    text-align: right;
    line-height: 1em;
    margin-right: 2em;
    color: white;
    margin-bottom: 200px;
}


/*second page-----------------------------------*/

/*morning program*/

.left{
    margin-top: 3em;
    text-align: right;
    grid-row-start: 3; 
    grid-row-end: span 5;
    writing-mode: vertical-lr; 
    transform: rotate(180deg)

}


/*header on second page */

.header {
    grid-column-start: 2; 
    grid-column-end: span 3;
    margin-right: 2em;
}

.session {
    margin-top: -10em;
    text-align: right;
    margin-bottom: none;
}

.about {
    text-align: left;
    color: white;
    margin-right: 100px;
}

.centerleft {
    text-align: top;
}


.time {
    text-align: top;
    line-height: 1em;
    color: white;
}

.centerright {
    text-align: right;
    margin-right: 2em;
    color: white;
}

.footer {
    font-size: 0.5vw;
    text-align: center;
    color: white;
}
.letter-e {
    margin-right: 2.5em;
}

.letter-t {
    margin-left: 2.5em;
}

.the-web {
    margin-top: 2.5em;
}

p {
    line-height: 20px;
}

@media (max-width:991px) {
    body {
        font-size: 6px;
    }
}














